In [12]:
# Pandas

In [86]:
import pandas as pd
import numpy as np

In [14]:
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")

In [15]:
iris

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [16]:
print(type(iris))

<class 'pandas.core.frame.DataFrame'>

In [17]:
df = iris.copy()

In [18]:
df.head(3)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa

In [19]:
print(df.shape)

(149, 5)

In [20]:
print(df.dtypes)

5.1            float64
3.5            float64
1.4            float64
0.2            float64
Iris-setosa     object
dtype: object

In [21]:
# to see current column headers 
df.columns

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [22]:
df.columns = ['sepal_len','sepal_wid','petal_len','petal_wid','flower_type']

In [23]:
df.columns

Index(['sepal_len', 'sepal_wid', 'petal_len', 'petal_wid', 'flower_type'], dtype='object')

In [24]:
print(df.head(3))

   sepal_len  sepal_wid  petal_len  petal_wid  flower_type
0        4.9        3.0        1.4        0.2  Iris-setosa
1        4.7        3.2        1.3        0.2  Iris-setosa
2        4.6        3.1        1.5        0.2  Iris-setosa

In [26]:
print(df.dtypes)
print(df.shape)

sepal_len      float64
sepal_wid      float64
petal_len      float64
petal_wid      float64
flower_type     object
dtype: object
(149, 5)

In [28]:
df.describe() # This show valid number of values
# Lot of times happen when some of the rows have Nan The there will be one count less

        sepal_len   sepal_wid   petal_len   petal_wid
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [29]:
df.isnull().sum()

sepal_len      0
sepal_wid      0
petal_len      0
petal_wid      0
flower_type    0
dtype: int64

In [33]:
# Used for slicing data
df.iloc[1:4 , 2:4]

   petal_len  petal_wid
1        1.3        0.2
2        1.5        0.2
3        1.4        0.2

In [35]:
df.petal_len

0      1.4
1      1.3
2      1.5
3      1.4
4      1.7
      ...
144    5.2
145    5.0
146    5.2
147    5.4
148    5.1
Name: petal_len, Length: 149, dtype: float64

In [36]:
df.head()

   sepal_len  sepal_wid  petal_len  petal_wid  flower_type
0        4.9        3.0        1.4        0.2  Iris-setosa
1        4.7        3.2        1.3        0.2  Iris-setosa
2        4.6        3.1        1.5        0.2  Iris-setosa
3        5.0        3.6        1.4        0.2  Iris-setosa
4        5.4        3.9        1.7        0.4  Iris-setosa

In [47]:
# Drop function makes the copy of the function
# a = df.drop(0)
# a.head()

In [48]:
df.head()

   sepal_len  sepal_wid  petal_len  petal_wid  flower_type
1        4.7        3.2        1.3        0.2  Iris-setosa
2        4.6        3.1        1.5        0.2  Iris-setosa
3        5.0        3.6        1.4        0.2  Iris-setosa
4        5.4        3.9        1.7        0.4  Iris-setosa
5        4.6        3.4        1.4        0.3  Iris-setosa

In [49]:
df.drop(3,inplace=True)
df.head()

   sepal_len  sepal_wid  petal_len  petal_wid  flower_type
1        4.7        3.2        1.3        0.2  Iris-setosa
2        4.6        3.1        1.5        0.2  Iris-setosa
4        5.4        3.9        1.7        0.4  Iris-setosa
5        4.6        3.4        1.4        0.3  Iris-setosa
6        5.0        3.4        1.5        0.2  Iris-setosa

In [50]:
# drop by Label and label is the row number
df.index

Int64Index([  1,   2,   4,   5,   6,   7,   8,   9,  10,  11,
            ...
            139, 140, 141, 142, 143, 144, 145, 146, 147, 148],
           dtype='int64', length=147)

In [54]:
c1 = df[df.flower_type == 'Iris-setosa'].describe()

In [55]:
print(c1)

       sepal_len  sepal_wid  petal_len  petal_wid
count  47.000000  47.000000  47.000000  47.000000
mean    5.006383   3.421277   1.468085   0.246809
std     0.363201   0.387263   0.178285   0.110042
min     4.300000   2.300000   1.000000   0.100000
25%     4.800000   3.150000   1.400000   0.200000
50%     5.000000   3.400000   1.500000   0.200000
75%     5.200000   3.700000   1.600000   0.300000
max     5.800000   4.400000   1.900000   0.600000

In [58]:
# add a row
print(df.head())
print(df.iloc[0])
print(df.loc[1])

   sepal_len  sepal_wid  petal_len  petal_wid  flower_type
1        4.7        3.2        1.3        0.2  Iris-setosa
2        4.6        3.1        1.5        0.2  Iris-setosa
4        5.4        3.9        1.7        0.4  Iris-setosa
5        4.6        3.4        1.4        0.3  Iris-setosa
6        5.0        3.4        1.5        0.2  Iris-setosa
sepal_len              4.7
sepal_wid              3.2
petal_len              1.3
petal_wid              0.2
flower_type    Iris-setosa
Name: 1, dtype: object
sepal_len              4.7
sepal_wid              3.2
petal_len              1.3
petal_wid              0.2
flower_type    Iris-setosa
Name: 1, dtype: object

In [59]:
# So the basic diffeence beetween loc and iloc is that 
# loc works on the basis of labels(Row number)
# iloc works on the position(current position which the dataset is using)

In [62]:
df.loc[0] = [1,2,3,4,"Iris-setosa"]
df.loc[149] = [1,2,3,4,"Iris-setosa"]

In [63]:
df.tail()

     sepal_len  sepal_wid  petal_len  petal_wid     flower_type
146        6.5        3.0        5.2        2.0  Iris-virginica
147        6.2        3.4        5.4        2.3  Iris-virginica
148        5.9        3.0        5.1        1.8  Iris-virginica
0          1.0        2.0        3.0        4.0     Iris-setosa
149        1.0        2.0        3.0        4.0     Iris-setosa

In [64]:
# Now we will see from column prespective
# First Way to reset index
df.reset_index(drop=True,inplace=True)
df.head()

   sepal_len  sepal_wid  petal_len  petal_wid  flower_type
0        4.7        3.2        1.3        0.2  Iris-setosa
1        4.6        3.1        1.5        0.2  Iris-setosa
2        5.4        3.9        1.7        0.4  Iris-setosa
3        4.6        3.4        1.4        0.3  Iris-setosa
4        5.0        3.4        1.5        0.2  Iris-setosa

In [66]:
df.index

RangeIndex(start=0, stop=149, step=1)

In [74]:
# Way to delete column
df.drop('sepal_len',axis=1,inplace=True)

KeyError: "['sepal_len'] not found in axis"

In [75]:
df.describe()

        petal_len   petal_wid
count  149.000000  149.000000
mean     3.795973    1.256376
std      1.740064    0.817819
min      1.000000    0.100000
25%      1.600000    0.300000
50%      4.400000    1.300000
75%      5.100000    1.800000
max      6.900000    4.000000

In [76]:
del df['sepal_wid']

KeyError: 'sepal_wid'

In [79]:
df.describe()
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [80]:
df = iris.copy()
df.columns = ['sepal_len','sepal_wid','petal_len','petal_wid','flower_type']
df.describe()

        sepal_len   sepal_wid   petal_len   petal_wid
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [81]:
df["diff_pl_pw"] = df["petal_len"] - df["petal_wid"]

In [82]:
df.describe()

        sepal_len   sepal_wid   petal_len   petal_wid  diff_pl_pw
count  149.000000  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369    2.569128
std      0.828594    0.433499    1.759651    0.761292    1.047707
min      4.300000    2.000000    1.000000    0.100000    0.800000
25%      5.100000    2.800000    1.600000    0.300000    1.400000
50%      5.800000    3.000000    4.400000    1.300000    2.900000
75%      6.400000    3.300000    5.100000    1.800000    3.300000
max      7.900000    4.400000    6.900000    2.500000    4.700000

In [83]:
df.tail()

     sepal_len  sepal_wid  petal_len  petal_wid     flower_type  diff_pl_pw
144        6.7        3.0        5.2        2.3  Iris-virginica         2.9
145        6.3        2.5        5.0        1.9  Iris-virginica         3.1
146        6.5        3.0        5.2        2.0  Iris-virginica         3.2
147        6.2        3.4        5.4        2.3  Iris-virginica         3.1
148        5.9        3.0        5.1        1.8  Iris-virginica         3.3

In [84]:
# Handling Nan
# Fill some data for those or remove from data
# Drop na or Fill Na

In [88]:
df.iloc[2:4,1:3] = np.nan
df.head()

   sepal_len  sepal_wid  petal_len  petal_wid  flower_type  diff_pl_pw
0        4.9        3.0        1.4        0.2  Iris-setosa         1.2
1        4.7        3.2        1.3        0.2  Iris-setosa         1.1
2        4.6        NaN        NaN        0.2  Iris-setosa         1.3
3        5.0        NaN        NaN        0.2  Iris-setosa         1.2
4        5.4        3.9        1.7        0.4  Iris-setosa         1.3

In [89]:
df.describe()

        sepal_len   sepal_wid   petal_len   petal_wid  diff_pl_pw
count  149.000000  147.000000  147.000000  149.000000  149.000000
mean     5.848322    3.046939    3.806122    1.205369    2.569128
std      0.828594    0.434048    1.750351    0.761292    1.047707
min      4.300000    2.000000    1.000000    0.100000    0.800000
25%      5.100000    2.800000    1.600000    0.300000    1.400000
50%      5.800000    3.000000    4.400000    1.300000    2.900000
75%      6.400000    3.300000    5.100000    1.800000    3.300000
max      7.900000    4.400000    6.900000    2.500000    4.700000

In [92]:
df.dropna(inplace=True)
df.head()

   sepal_len  sepal_wid  petal_len  petal_wid  flower_type  diff_pl_pw
0        4.9        3.0        1.4        0.2  Iris-setosa         1.2
1        4.7        3.2        1.3        0.2  Iris-setosa         1.1
4        5.4        3.9        1.7        0.4  Iris-setosa         1.3
5        4.6        3.4        1.4        0.3  Iris-setosa         1.1
6        5.0        3.4        1.5        0.2  Iris-setosa         1.3

In [93]:
df.reset_index(drop=True,inplace=True)

In [94]:
df.head()

   sepal_len  sepal_wid  petal_len  petal_wid  flower_type  diff_pl_pw
0        4.9        3.0        1.4        0.2  Iris-setosa         1.2
1        4.7        3.2        1.3        0.2  Iris-setosa         1.1
2        5.4        3.9        1.7        0.4  Iris-setosa         1.3
3        4.6        3.4        1.4        0.3  Iris-setosa         1.1
4        5.0        3.4        1.5        0.2  Iris-setosa         1.3

In [95]:
df.iloc[2:4,1:3] = np.nan
df.head()

   sepal_len  sepal_wid  petal_len  petal_wid  flower_type  diff_pl_pw
0        4.9        3.0        1.4        0.2  Iris-setosa         1.2
1        4.7        3.2        1.3        0.2  Iris-setosa         1.1
2        5.4        NaN        NaN        0.4  Iris-setosa         1.3
3        4.6        NaN        NaN        0.3  Iris-setosa         1.1
4        5.0        3.4        1.5        0.2  Iris-setosa         1.3

In [ ]:
df.sepal_wid.fillna(df.sepal_wid.mean(),inplace=True)